body{
  	background: #eaf0f5;
  	font-family: 'Open Sans', sans-serif !important;
  	overflow-x:hidden;
  	min-height: 150vh; 
  	margin-bottom: 40px;
}

::-webkit-scrollbar{
    width: 4px;
    background: #fff;
    box-shadow: inset 0 0px 3px 0px #00000052;
}

::-webkit-scrollbar-thumb{
    background: #bdbdbd;
    border-radius: 50px;
    box-shadow: 0 4px 15px 0px #0000004a;
}

.pt-6{
  padding-top: 3rem;
}

#pgloader{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.LoaderBalls {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4F69D4;
}

.LoaderBalls__item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

.LoaderBalls__item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

.LoaderBalls__item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

.btn{
  text-transform: capitalize;
}

.bg-primary{
	background: #4F69D4!important;
}

.btn-primary{
  background: #4F69D4!important;
  border-color: #4F69D4!important;
  outline: none !important;
  box-shadow: none !important;

}

.header-main{
	background: #fff;
	box-shadow: 0 0px 20px 0px rgb(79 105 212 / 14%);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 998;
	padding-top: 10px;
	padding-bottom: 10px;
  transition: all linear .3s;
}

.header-main.stickyanimate{
  padding: 6px 0;
}

.navflex{
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 5px 0;
}

.header-main .main-menu,
.header-main .sub-menu {
  display: block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.header-main .main-menu li,
.header-main .sub-menu li {
  font-size: 1rem;
}

.header-main .main-menu > li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.header-main .main-menu > li a {
  display: block;
  font-size: 16px;
}

.header-main .main-menu > li.active .sub-menu {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0;
  z-index: 20;
}

.header-main .main-menu > li.active i{
  color: #fff;
}

.header-main .main-menu li a i{
	padding-left: 2px;
	font-size: 10px;
	color: #333333;
}

.header-main .sub-menu {
  opacity: 0;
  pointer-events: none;
  margin-top: 20px;
  transition: 200ms all;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  min-width: 200px;
  background: #fff;
  padding: 0;
  transform: translateY(5px);
}

.header-main .sub-menu li a{
  	display: block;
    color: #333333;
    border-bottom: 1px dashed #4f69d42e;
    padding: 12px !important;
    font-weight: 500;
    font-size: 13px;
    transition: all ease 0.3s;
}

.header-main .sub-menu li:last-child{
  border: none;
}

.header-main .sub-menu li:hover a{
	color: #4F69D4;
  margin-left: 5px;
}

.header-main .toggle-menu {
  color: #000;
  padding-right: 1rem;
  margin-left: auto;
  text-decoration: none;
  display: none;
}

.header-main .logo{
  color: #fff;
  font-size: 2rem;
  width: 15%;
}

.header-main .logo img{
	width: 150px;
	margin-bottom: 8px;
}

.header-main .main-menu,
.header-main .sub-menu{
  margin-bottom: 0;
  padding-left: 0;
}

.header-main .main-menu > li > a{
	color: #333333;
	padding: 4px 14px !important;
}

.header-main .main-menu > li > a.active{
	background: #4F69D4;
	color: #fff;
	border-radius: 20px !important;
}

.header-main .main-menu > li > a.active i{
  color: #fff;
}

.header-main .sub-menu > li > a.active{
  color: #4F69D4;
}

.header-main .main-menu li a,
.header-main .sub-menu li a{
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.header-main .main-menu .expand,
.header-main .sub-menu .expand{
  color: #ffffff;
  font-size: 1.5rem;
}

/*banner scroll*/

.main_banner{
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 55px;
  background: radial-gradient(circle, #7085dc, #2f1ee8ab, #5145da);
  /*background: radial-gradient(circle, #4b6d7d, #385363, #293f48);*/
}

.main_banner .banner-text{
  	color: #fff;
  	padding-top: 6rem;
}

.main_banner .banner-text h2{
	font-size: 2.5rem;
}

.main_banner .banner-text h5{
	color: #00D7A7;
	font-weight: 600;
}

.main_banner .banner-image{
	width: 100%;
	text-align: right;
	padding-top: 2rem;
}

.main_banner .banner-image img{
	max-width: 300px;
}

.main_banner a span{
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.main_banner a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.main_banner a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.main_banner a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
}

.main_banner a:hover {
  opacity: .5;
}

.header-main .main-menu .expand {
  display: none;
}

.header-main .menu-setting ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-main .menu-setting ul li a{
	color: #fff;
	text-decoration: none;
	background: #4F69D4;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: .25rem;
	letter-spacing: .70px;
	box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 10%);
}

.header-main .menu-setting ul li i{
	margin-right: 5px;
	margin-top: 2px;
}




















/*______________media query start here_______________*/


@media only screen and (min-width: 1200px) {
  section.pt-6{padding-top: 5rem;}
}

@media only screen and (min-width: 768px) {
  .header-main .main-menu > li:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
    margin-top: 0;
    z-index: 20;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
	.header-main .main-menu.active {
	    opacity: 1;
	    pointer-events: auto;
	    margin-top: 0;
	    z-index: 20;
	  }

	.header-main .toggle-menu {
	    display: inline-block;
	}

  .header-main .sub-menu {
    background: #f1f1f1;
    padding: 0;
  }

  .header-main .sub-menu {
    display: block;
    z-index: 20;
    width: 100%;
  }

  .header-main .main-menu {
    opacity: 0;
    pointer-events: none;
    margin-top: 20px;
    transition: 200ms all;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    right: auto;
    min-width: 200px;
    width: 80%;
    left: 10%;
    box-shadow: 0px 1px 14px 0px rgb(39 37 37 / 15%);
  }
  .header-main .main-menu li {
    display: block;
  }
  .header-main .main-menu .expand {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    z-index: 15;
    transform-origin: 50%;
    transition: 200ms all;
    color: #000;
    cursor: pointer;
  }
  .header-main .main-menu .expand.active {
    transform: rotate(45deg);
  }
  .header-main .main-menu li a i{
  	display: none;
  }
}

.test_module{
	background: #fff;
	box-shadow: 0px 0px 30px rgb(115 128 157 / 10%);
	/*margin-top: 5rem;*/
}

.test_title{
	background: #F2F2F2;
	padding: .80rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoominOut{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoominOut div{
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-family: arial;
  font-size: 12px;
  box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 10%);
}

.zoominOut div:last-child{
  margin-right: 0;
}

.test_body{
  position: relative;
	padding: 1rem;	
	min-height: 400px;
	overflow-y:auto; 
}

.instruction{
	font-size: 14px;
	background: #F2F2F2;
	border: 1px solid #ddd;
	font-style: italic;
	padding: 6px 8px;
	margin-bottom: 5px;
  position: relative;
}

.quiz-pra{
	text-align: justify;
}

.recorder{
	box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
	max-width: 350px;
	margin: auto;
	text-align: center;
	padding: 1rem 1.5rem; 
	border-top: 3px solid #4F69D4;
}

.recorder .loading_box{
	background: #eee;
	height: 18px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}

.recorder .loading_box .loading{
	height: 100%;
	width: 10px;
	background: #4F69D4;
	margin-right: 1px;
	border-radius: 1px;
}

.test_footer{
	padding: 1rem 0;
	box-shadow: 0 -5px 30px #00000012;
}

.test_footer .btn{
	border-radius: .25rem !important;
	outline: none !important;
	box-shadow: none !important;
	margin-right: 5px;
  padding: 0.30rem 0.8rem;
  font-size: .85rem;
}

.test_footer .page-btn{
	float: right;
}

.page-btn .dropdown-menu{
	border: 0 !important;
	left: -60% !important;
	box-shadow: 0 0px 10px rgb(0 0 0 / 15%);
	max-height: 250px;
	padding: 0;
	overflow-y: auto;
}

.page-btn .dropdown-menu::-webkit-scrollbar{
    width: 4px;
    background: #fff;
    box-shadow: inset 0 0px 3px 0px #00000052;
}

.page-btn .dropdown-menu::-webkit-scrollbar-thumb{
    background: #bdbdbd;
    border-radius: 50px;
    box-shadow: 0 4px 15px 0px #0000004a;
}

.page-btn .dropdown-menu .dropdown-item:active{
	background: #000000 !important;
	color: #fff !important;
}

.page-btn .flexbox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}

.page-btn .flexbox .dropdown-item{
  	width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 2px #000000b3;
    color: #808080;
    margin: 3px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.page-btn .dropdown-item.checked{
	background: #00D7A7;
	color: #fff;
}

.modal .closemodal{
  box-shadow: none !important;
  outline: none !important;
  opacity: 100 !important;
}

.modal .closemodal span{
  opacity: 100 !important;
  font-size: 14px !important;
  color: #fff!important;
  box-shadow: none !important;
}

.info-bar{
  font-size: 20px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.info-bar:hover{
  color: #4F69D4;  
}

.intro_box{
  position: absolute;
  top: 15%;
  left: 1%;
  background: #fff;
  box-shadow: 0px 0px 30px rgb(115 128 157 / 10%);
  z-index: 2000;
}

.intro_overlay{
  display: none;
}

.intro_overlay:before{
  position: fixed;
  content: "";
  height: 100%;
  width:  100%;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 1000;
}


.intro_box .carousel:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    top: -3px;
    transform: rotate(45deg);
    left: 10px;
    z-index: -1;
}

.intro_box .carousel-inner{
  padding: 15px 0 15px 15px;
  width: 300px;
  overflow-y: auto;
  height:200px;
}

.intro_box .carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  border-width: 0;
}

.carousel-indicators li.active{
  background: #1325E2 !important;
}

.intro_box .carousel-content{
  padding-right: 15px;
}

.intro_box .carousel-content p{
  text-align: justify;
  font-size: 13px;
}

.intro_setting{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 14px rgb(142 142 142 / 22%);
}

.intro_setting .carousel-indicators{
  position: static;
  margin: 0;
}

.intro-btn .btn{
  font-size: 12px;
  text-transform: capitalize;
  padding: 0.200rem 0.60rem;
  opacity: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro-btn .skipbtn{
  margin-right: 4px; 
  border-radius: .25rem !important;
  padding: 0 !important;
}

.intro-serial{
  height: 25px;
  width: 25px;
  background: #FA001A;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 9991;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #ffff;
  margin-bottom: 0;
  font-style: normal;
  display: none;
}

.instruction.praHighLight{
  z-index: 9999;
  font-weight: 600;
  box-shadow: 0 0 10px 0px #0000002e;
}

.instruction.praHighLight .intro-serial{
  display: flex;
}

.question_section{
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: inset 0 0px 10px rgb(0 0 0 / 10%);
}

#reportbug textarea{
  resize: none;
}

#reportbug input,
#reportbug textarea{
  box-shadow: none;
}

#reportbug input:focus,
#reportbug textarea:focus{
  border-color: #EC2947;
}

#reportbug input::-webkit-outer-spin-button,
#reportbug input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


#reportbug input::placeholder,
#reportbug textarea::placeholder{
  color: #EC2947; 
}
